section {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}

button img {
    max-width: 50px;
}